<h2>{{session.user.userName}} ({{session.user.email}}) History</h2>
        <hr />

        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Login Date/Time</th>
                        <th>Client Information</th>
                    </tr>
                </thead>
                 {{#each session.user.loginHistory}}
                    <tbody>
                        <tr>
                            <td>{{this.dateTime}} </td>
                            <td>{{this.userAgent}} </td>
                        </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>
    </div>